@charset = "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@keyframes teste{
	0% {transform: translateY(0px);}
	25% {transform: translateY(-10px);}
	75% {transform: translateY(10px);}
	100% {transform: translateY(0px);}
}
@keyframes teste2{
	0% {transform: translateX(25px);}
	100% {transform: translateX(0px);}
}
:root{
		--primaryColor: #1b262c;
		--secundaryColor: #0f4c75;
		--thirtyColor: #3282b8;
		--quartyColor: #bbe1fa;
}
body{
	margin: 0px !important;
	background-image: url(background-1.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.nav{
	background-color: #ececec;
	width: 100%;
	position: relative;
	display: flex;
	height: 100px;
	margin-top: 20px;
	box-shadow: 0px 0px 30px var(--primaryColor);

}
.north-logo{
	margin-left: 2%;
	margin-top: 0.7%;
	width: 200px;
	position: absolute;
}
.menuItens{
	display: inline;
	margin-right: 20px;
	list-style: none;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 12pt;
	color: var(--primaryColor);
}
.ocult{
	position: absolute;
	visibility: hidden;
	width: 70px;
	margin-right: 20px;
}
.visible{
	position: absolute;
	visibility: hidden;
	width: 70px;
	margin-right: 20px;
}
.menuItens:hover{
	color: var(--secundaryColor);
}
.Lorem{
	padding: 30px;
	border-radius: 20px;
	margin-top: 300px !important;
	background-color: var(--secundaryColor);
	width: 80%;
	margin: 10px auto;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	margin-bottom: -150px;
	position: relative;
}
.Lorem h1{
	width: 30%;
	color: #fff;
}
body{
	background-color: #f2f3fb;
}
.Lorem figure{
	width: 150px;
	background-color: #40a8c4;
	border-radius: 10px;
}
.Lorem img.icone-curso{
	margin-top: 15px;
	width: 60%;
	transition: transform 1s;
	filter: grayscale(100);
}
.Lorem img.icone-curso:hover{
	animation-name: teste;
	animation-duration: 1s;
	
}

.Lorem .container-first-item figcaption{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bolder;
	margin: 10px auto;
}
.Lorem .container-first-item figcaption a{
	color: var(--primaryColor);
	text-decoration: none;
}
.Lorem .container-first-item{
	display: inline-block;

}
.curso-container{
	background-color: #ececec;
	padding: 20px;
	padding-top: 190px;
	font-family: 'Montserrat',sans-serif;
	

}
.curso-container-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.curso-container h1{
	text-align: center;
	font-size: 44pt;
}
.curso-container img{
	padding-right: 40px;
	height: 200px;
	transition: transform .5s, opacity .4s ease;
	
}
.curso-container-items div:hover img{
	transform: rotate3d(0, 1, 0, 180deg);
	position: absolute;
	opacity: 0;
}
.curso-container-items div.items-cursos{
	transition: background-color .5s ease;
}
.curso-container-items div.items-cursos div{
	visibility: hidden;
	color: white;
	text-align: center;
	transition: visibility 0s ease;
	position: absolute;
}
.curso-container-items div.items-cursos div p{
	margin-bottom: 50px;
}
.curso-container-items div.items-cursos div a{
	color: #0d7377;
	text-decoration: none;
	padding: 15px 25px;
	background-color: white;
	border-radius: 5px;
}
.curso-container-items div.items-cursos:hover div{
	padding: 20px;
	visibility: visible;
	position: relative;
	animation-name: teste2;
	animation-duration: .5s;
}
.curso-container-items div.items-cursos:hover{
	background-color: #0d7377;
	width: 300px;
	height: 200px;
}
.aboutUs{
	background-color: #0d7377;
	position: relative;
	padding: 20px;

}
.aboutUs .aboutUs-items{
	display: flex;
	justify-content: center;
}
.aboutUs h1{
	font-family: 'Montserrat',sans-serif;
	text-align: center;
	color: #fff;
}
.aboutUs p{
	font-family: 'Montserrat',sans-serif;
	text-align: left;
	color: #fff;
	font-size: 14pt;
	width: 80%;
}
.faleConosco-container{
	background-color: #d2e603;
	padding: 40px;
}
.faleConosco-container h1{
	font-family: "Montserrat", sans-serif;
	text-align: center;
}
.faleConosco-container-items{
	display: flex;
	margin-top: 50px;
	justify-content: center;
}
.faleConosco-container-items img{
 	height: 40px; 
}
.faleConosco-container-items p{
	font-family: 'Montserrat',sans-serif;
}
.faleConosco-container-items div{
	width: 100%;
	margin-bottom: 50px;
}
.faleConosco-container-items div iframe{
	width: 100%;
}
.sider-faleConosco{
	width: 30%;
}
.sider-faleConosco div{
	display: flex;
}
.faleConosco-container-items div p{
	margin-left: 30px;
}
.footer-container{
	background-color: #625261;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-items{
	color: #fff;
	font-family: 'Montserrat';
	text-decoration: none;
	margin-right: 10px;
}




.head-top{
	background-color: #fff;
	max-width: 100%;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 30px #41444b;
}
.link-head-top{
	color: black;
	text-decoration: none;
	padding: 20px 15px;
	height: 30px;
	font-family: 'Montserrat';
	font-size: 14pt;
}
.link-head-top img{
	height: 30px;
}
.carousel-container{
	display: flex;
	justify-content: left;
}
.content{
	padding: 5%;
}
.img{
	width: 88%;
	box-shadow: 0px 0px 15px #41444b;
}

.button{
	border: none;
	background-color: #625261;
	color: white;
	font-family: 'Montserrat';
	padding: 15px 25px;
	outline: 0;
	cursor: pointer;
	margin-right: 0px;
	transition: background-color .5s ease;
}

.buttons-container{
	background-color: #625261;
}

#content{
	padding: 30px 70px;
	font-family: 'Montserrat';

}

#content a{
	color: black;
}
#content a:hover{
	color: green;
}

.button-pri{
	border: none;
	background-color: #fff;
	color: #625261;
	font-family: 'Montserrat';
	padding: 15px 25px;
	outline: 0;
	cursor: pointer;
	margin-right: 0px;
}
.content-container{
	margin-top: 10px;
	background-color: white;
	width: 60%;
	box-shadow: 0px 0px 15px #41444b;
}

.aside{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	float: right;
	background-color: #fff;
	font-family: 'Montserrat';
	padding: 50px 100px;
	box-shadow: 0px 0px 30px #41444b;
	margin-bottom: 30px;
}

.aside h1{
	margin-bottom: 50px;
}

.aside a{
	text-decoration: none;
	padding: 15px;
	background-color: #625261;
	color: #fff;
	margin-top: 40px;
	border-radius: 0px 10px 0px 10px;
}

@media screen and (max-width: 770px){
	.menuItens{
		visibility: hidden;
	}
	.Lorem figure{
		visibility: hidden;
		position: absolute;
	}
	.Lorem h1{
		width: 100%;
	}
	.curso-container-items div.items-cursos div{
	padding: 20px;
	visibility: visible;
	position: relative;
	animation-name: teste2;
	animation-duration: .5s;
	}
	.curso-container-items div img{
	position: absolute;
	opacity: 0;
	}
	.curso-container-items div.items-cursos{
	background-color: #0d7377;
	width: 300px;
	height: 200px;
	margin-bottom: 40px;
	border-radius: 0px 20px 0px 20px;
	}
	.faleConosco-container-items{
	flex-direction: column;
	}
	.aside{
		float: none;
	}
	.img{
		width: 100%;
	}
	.content-container{
		width: 100%;
	}
	#content{
		padding: 15px 35px;
	}
	.content-container h1{
		font-size: 14pt;
	}
	.button{
		padding: 10px 15px;
		font-size: 9pt;
	}
}
